.butbox {
display: grid;
justify-content: center;
align-items: center;
align-content: center;
flex-wrap: wrap;
margin: 0 auto;
color: #fff;
}

#clickMe {
color: #000000;
flex: auto;
font-size: 20px;
margin: 10px;
padding: 20px;
border: 3px solid #000;
border-radius: 10px;
text-align: center;
position: relative;
overflow:hidden;
text-decoration: none;
box shadow: 0 9px #a6a6a6;
}

#clickMe:hover {
color: grey;

}

#clickMe:active {
box-shadow: 0 5px #a6a6a6;
transform: translateY(10px);
}

#clickMe:hover {
border-radius: 50px;
}
