.md-input-group.md-ripple .md-input.form-control {
  border:0;
  position:relative;
}

.md-input-group.md-ripple {
  position:relative;
  overflow:hidden;
  padding-bottom:1px;
}

.md-input-group.md-ripple:after {
  content:"";
  position:absolute;
  width:100%;
  background:#999;
  height:1px;
  transition:transform 1s;
  pointer-events:none;
  transform:scale3d(1, 1, 1);
}

.md-input-group.md-ripple.focus:after {
  background:radial-gradient(circle, #000 10%, transparent 50%, #999 60%);
  transform:scale3d(10, 1, 1);
}

.md-btn.md-ripple {
  position:relative;
  overflow:hidden;
  transform:translate3d(0, 0, 0);
}

.md-btn.md-ripple:after {
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events:none;
  background-image:radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat:no-repeat;
  background-position:50%;
  transform:scale(10, 10);
  opacity:0;
  transition:transform .5s, opacity 1s;
}

.md-btn.md-ripple:active:after {
  transform:scale(0, 0);
  opacity:.2;
  transition:0s;
}

