.md-input-group {
  font-family:'Roboto';
}

.md-input-group.has-error input, .md-input-group.has-error input:focus {
  box-shadow:none;
}

.md-input-group.focus label.md-input-label {
  font-size:.9em;
  transform:translate3d(0, 12px, 0);
  color:rgba(75,75,75,.5);
}

.md-input-group.focus input.md-input {
  color:#000;
  border-bottom-color:#000;
}

label.md-input-label {
  display:inline-block;
  pointer-events:none;
  height:1em;
  max-width:100%;
  font-weight:300;
  font-size:1em;
  transform:translate3d(0, 34px, 0);
  transition:all .3s;
  padding-left:5px;
  margin-bottom:0;
  color:rgba(0,0,0,.5);
}

.md-input.form-control {
  display:block;
  color:#000;
  width:100%;
  background-color:transparent;
  background-image:none;
  border:0;
  border-radius:0;
  -webkit-box-shadow:none;
  box-shadow:none;
  border-bottom:1px solid #9a9a9a;
  padding:0;
  padding-left:5px;
  padding-top:12px;
  font-weight:300;
}

form.form-inline .md-input-group {
  float:left;
}

form.form-inline .md-input-group + .md-input-group {
  margin-left:5px;
}

form.form-inline .md-input-group:after {
  content:"";
  clear:both;
}

form.form-inline:after {
  display:block;
  clear:both;
  content:"";
}

.card {
  padding:50px;
  background:#f5f5f5;
  box-shadow:0 5px 5px 1px rgba(122,122,122, .5);
  margin:20px 20px;
}

.btn.md-btn {
  background:#1b58cf;
  color:#fff;
  border:0;
  border-radius:0;
  box-shadow:0px 2px 1px 1px #999;
  transition:all .3s;
}

.btn.md-btn:active {
  background:#90b4fc;
  color:#fff;
  border:0;
  border-radius:0;
  box-shadow:0px 0px 0px 0px #999;
}

.md-input-group .md-messages {
  height:1px;
  position:relative;
}

.md-input-group .md-message {
  opacity:0;
  transition:transform .4s, opacity .2s;
  pointer-events:none;
  transform:translate3d(0, -24px, 0);
  font-size:12px;
  display:inline-block;
}

