@keyframes stripe-slide {
  0% {
    background-position:0% 0;
  }
  100% {
    background-position:100% 0;
  }
}

.butt {
  overflow:visible;
  margin:0;
  padding:0;
  border:0;
  background:transparent;
  font:inherit;
  line-height:normal;
  cursor:pointer;
  -moz-user-select:text;
  display:block;
  text-decoration:none;
  text-transform:uppercase;
  padding:16px 36px 22px;
  background-color:#fff;
  color:#666;
  border:2px solid #666;
  border-radius:6px;
  margin-bottom:16px;
  transition:all .5s ease;
}

.butt::-moz-focus-inner {
  padding:0;
  border:0;
}

.butt--stripe {
  overflow:hidden;
  position:relative;
}

.butt--stripe:after {
  content:'';
  display:block;
  height:7px;
  width:100%;
  background-image:repeating-linear-gradient(45deg, #666, #666 1px, transparent 2px, transparent 5px);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  border-top:1px solid #666;
  position:absolute;
  left:0;
  bottom:0;
  background-size:7px 7px;
}

.butt--stripe:hover {
  background-color:#666;
  color:#fff;
  border-color:#000;
}

.butt--stripe:hover:after {
  background-image:repeating-linear-gradient(45deg, #fff, #fff 1px, transparent 2px, transparent 5px);
  border-top:1px solid #000;
  -webkit-animation:stripe-slide 12s infinite linear forwards;
  animation:stripe-slide 12s infinite linear forwards;
}

.butt--large {
  width:50%;
}

.butt--radius {
  border-radius:36px;
}

